.sidebarListItem {
    cursor: pointer;
    background-color: rgb(255, 255, 255) !important;
    padding: 20px !important;
    border: 1px solid rgb(226, 224, 224) !important;
    font-weight: bold !important;
}

.sidebarListItem:hover {
    background-color: rgb(226, 224, 224) !important;
}
