.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputSearch {
    width: 453px;
    height: 49px;
    padding: 20px;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1));
    border: 3px solid #000000;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #c4c4c4;

    outline-offset: 0;
}
.iconSearch {
    width: 49px;
    height: 49px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #000000;
}

/* css filter Bar */

.filterBar {
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.filterJob {
    padding: 0px 11px;
}
.filterType {
    width: 105px;
    height: 30px;
    background: #959595 !important;
    border-radius: 7px;
    margin-right: 10px;

    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #ffffff !important;
}

/* css color placeholder */
/* .ui.default.dropdown:not(.button) > .text,
.ui.dropdown:not(.button) > .default.text {
    color: #ffffff !important;
} */

.buttonApplyFilter {
    width: 86.43px;
    height: 30px;
    background: #ef6565;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
}

.textApply {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    padding-left: 10px;

    color: #ffffff;
}

/* css sort By */
.sort {
    /* position: absolute;
    left: 68.5%;
    top: 728px; */
    margin-top: 52px;
    display: flex;
    justify-content: flex-end;
}

.sortBy {
    width: 100px !important;
    height: 36px;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1));
    font-weight: 400;
    font-size: 15px;
    border: 2px solid #7e7d7d !important;
}
