.headerLanding {
    height: 112px;
    background-color: #f8f8f8;
    padding: 22px 0px 22px 0px;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logoSCV {
    /* width: auto;
    height: 68px; */
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #090909;
}

.headerCenter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.Menu {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    height: 23px;
}

.headerRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.SignUp {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 19px;
    padding: 7px 35px;
    font-weight: 400;
    font-size: 20px !important;
    line-height: 24px; /* identical to box height */
    text-align: center;
    cursor: pointer;
}
