/* Css banner */

.bannerImg {
    width: 100%;
    height: 542px;
    object-fit: cover;
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
}

.content1 {
    position: absolute;
    width: 500px;
    height: 141px;
    top: 197px;
    left: 137px;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #ffffff;
}

.content2 {
    position: absolute;
    width: 396px;
    height: 96px;
    left: 139px;
    top: 360px;
    font-weight: 400;
    font-size: 26px;
    line-height: 133.8%; /* or 35px */
    color: #ffffff;
}

.buttonUseApp {
    position: absolute;
    width: 235px;
    height: 58px;
    left: 137px;
    top: 497px;
    border-radius: 60px;
    border: none;
    background-color: #ef6565;
    padding: 10px 60px;
    font-weight: 400;
    font-size: 30px !important;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.buttonSignUp {
    position: absolute;
    width: 235px;
    height: 58px;
    left: 390px;
    top: 497px;
    border-radius: 60px;
    border: none;
    background-color: #000000;
    padding: 10px 60px;
    font-weight: 400;
    font-size: 30px !important;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

/* Css Introduce */

.ScvIntroduce {
    padding: 80px 187px;
    align-items: center;
    background-color: #f3f3f3;
}

.ScvIntroduce .content {
    font-weight: inherit;
    font-size: 25px;
    line-height: 128.8%; /* or 39px */
    color: #000000;
    text-align: center;
    word-wrap: break-word;
}

.imageRoom {
    width: 100%;
    height: 411px;
    object-fit: cover;
    object-position: 50% 33%;
    opacity: 0.5;
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}

.card {
    width: 100%;
    height: 411px;
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 990px;
}

.cardContent {
    width: 380px;
    height: 213px;
    background-color: #f3f3f3;
    border-radius: 40px;
    padding: 30px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.cardDescription {
    font-weight: 300;
    font-size: 15px;
    line-height: 123.8%;
    /* or 19px */
    color: #000000;
}

/* Css RoadMap */
.roadMap {
    width: 100%;
    height: 502px;
    padding: 107px 167px;
}

.ellipse {
    width: 100%;
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.ellipseBlack {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #000000;
}

.line {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #000000;
    size: 5px;
    background-color: #000000;
}

.ellipseGray1 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #c4c4c4;
    position: absolute;
    left: 31%;
}

.ellipseGray2 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #c4c4c4;
    position: absolute;
    left: 50%;
}

.ellipseGray3 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #c4c4c4;
    position: absolute;
    left: 68%;
}

.contentRoadMap {
    width: 100%;
    display: flex;
    padding-top: 20px;
}

.titleRoadMap {
    padding-top: 10px;
    font-weight: 700;
    font-size: 30px;
    line-height: 123.8%;
    /* or 37px */

    color: #000000;
}

.contentRoadMapDes2 {
    position: absolute;
    left: 31%;
}

.contentRoadMapDes3 {
    position: absolute;
    left: 50%;
}

.contentRoadMapDes4 {
    position: absolute;
    left: 68%;
}

.contentRoadMap .content {
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    /* or 25px */

    color: #000000;
}

/* Css Token content */

.scvToken {
    width: 100%;
    height: 642px;
    padding: 82px 261px;
    background-color: #ebebeb;
    margin-top: 107px;
}

.scvToken .subTitle {
    height: 84px;
    font-weight: 400;
    font-size: 30px;
    line-height: 123.8%;
    /* or 37px */
    text-align: center;
    color: #000000;
}

.scvTokenPurpose {
    padding-top: 17px;
}

.scvTokenContent {
    width: 258px;
    height: 122px;
    background: #ffffff;
    /* Drop */
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.scvTokenDes {
    padding: 39px 28px;
    font-weight: 300;
    font-size: 18px;
    line-height: 123.8%;
    /* or 22px */
    text-align: center;
    color: #000000;
}

.scvTokenContent .LongDes {
    padding: 18px 28px;
}

.scvTokenPurpose .card1 {
    position: absolute;
    left: 14%;
}

.scvTokenPurpose .card2 {
    position: absolute;
    left: 40%;
}

.scvTokenPurpose .card3 {
    position: absolute;
    left: 66%;
}

.scvTokenPurpose .card4 {
    position: absolute;
    left: 26%;
    top: 2450px;
}

.scvTokenPurpose .card5 {
    position: absolute;
    left: 52%;
    top: 2450px;
}

/* Css Member List */
.teamList {
    padding: 142px 34px 164px 38px;
}

.memberInfo {
    width: 212px;
    height: 290px;
    background: #ffffff;
    /* Drop */
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-left: 15px;
    margin: 30px 0px 1px 15px;
}

.memberImg {
    padding: 50px 48px 31px 48px;
}

.memberPicture {
    width: 117px;
    height: 117px;
    border-radius: 50%;
}

.memberDetail {
    text-align: center;
}

.memberName {
    font-weight: 400;
    font-size: 20px;
    line-height: 123.8%;
    /* or 25px */
    color: #000000;
}

.memberPosition {
    font-weight: 300;
    font-size: 15px;
    line-height: 123.8%;
    /* or 19px */
    color: #000000;
}

/* reset slick slider css */

.slick-slider {
    display: flex !important;
    align-items: center !important;
    width: 90%;
    margin: 0 auto;
}

.slick-prev {
    position: relative !important;
    left: 0 !important;
    top: 69px !important;
}

.slick-next {
    position: relative !important;
    top: 69px !important;
    right: 0px !important;
}

.slick-prev,
.slick-next {
    width: 60px !important;
    height: 60px !important;
}

.slick-prev::before,
.slick-next::before {
    font-size: 60px !important;
    opacity: 1 !important;
    color: #000000 !important;
}

/* Css Partner */

.partners {
    width: 100%;
    height: 458px;
    background-color: #ebebeb;
    padding: 76px;
}

.partnersInfo {
    display: flex;
    justify-content: space-evenly;
    padding: 76px;
}

.partnerNear {
    background-color: #c4c4c4;
    width: 255px;
    height: 82px;
    padding: 18px 41px;
    border-radius: 15px;
}

.partnerOctopus {
    background-color: #c4c4c4;
    width: 255px;
    height: 82px;
    padding: 7px 41px;
    border-radius: 15px;
}
