.title {
    /* text-align: center;
    font-weight: bold; */
}
.revokeCertificate {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.input-certificate-id {
    margin-bottom: 10px;
}
.input-cid {
    margin-bottom: 10px;
}
.button-revoke-certificate {
    background-color: #3e74be !important;
    color: white !important;
    margin: 0 10px 20px 20px !important;
}

.button-revoke-certificate:hover {
    background-color: #2b3c53 !important;
}
