body {
    background-color: rgb(252, 252, 252);
    font-family: "adineue PRO";
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
}

.headerLandingHome {
    background-color: #ffffff;
    padding: 22px 0px 22px 0px;
}

.buttonConnectWallet {
    width: 161px;
    height: 38px;
    background: #000000;
    border-radius: 10px;
    font-size: 20px !important;
    line-height: 24px;
    border: none;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.headerLandingHome .headerRight {
    margin-right: -100px;
}

.buttonSignIn {
    width: 99px;
    height: 38px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 19px;
    background: #ffffff;

    font-weight: 400;
    font-size: 20px !important;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    color: #000000;
    margin: 0 9px;
    cursor: pointer;
}
.buttonSignup {
    width: 107px;
    height: 38px;
    background: #ef6565;
    border-radius: 19px;
    border: none;

    font-weight: 400;
    font-size: 20px !important;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    color: #ffffff;
}

.headerButton {
    width: 70%;
    margin: 0 auto;
    padding: 123px 0;

    display: flex;
    justify-content: center;
}
.headerButtonUpLoad {
    width: 206px;
    height: 84px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 17px 35px;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}
.headerButtonPostJob {
    width: 206px;
    height: 84px;
    padding: 28px 35px;
    background: #000000;
    border-radius: 20px;
    margin: 0 50px;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
}
.headerButtonCreateCV {
    width: 206px;
    height: 84px;
    background: #ef6565;
    border-radius: 20px;
    padding: 31px 35px;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #ffffff;
}
