body {
    background-color: rgb(252, 252, 252);
}

.header-left {
    width: 100px;
    margin-left: 30px;
}

.logo {
    width: auto;
    height: 60px;
    border: 2px solid rgb(22, 165, 221);
    border-radius: 10px;
}

.header-right {
    margin-right: 30px;
}
