/* .header {
    width: 100%;
    height: 60px;
    background-color: rgb(62, 104, 184);
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.header-left {
    width: 100px;
    margin-left: 30px;
}

.logo {
    font-size: 20px;
    font-weight: 800;
    color: aliceblue;
}

.header-right {
    margin-right: 30px;
}
