.sidebar {
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 !important;
}

.menu-parent {
    color: rgb(37, 32, 32);
    font-weight: bold;
    align-items: center;
    padding: 10px 40px;
}

.menu-item {
    background-color: rgb(255, 255, 255) !important;
    border: none !important;
    position: relative;
    left: 60% !important;
}

.menu-parent:hover {
    background-color: rgb(236, 236, 236);
}
