.view-cv {
    padding: 20px;
}

.button-view {
}

.button-view-cv {
    background-color: #3e74be !important;
    color: white !important;
}
.show-cv {
    flex: 1;
    padding: 20px;
}

.show-title {
    font-size: 16px;
    font-weight: 600;
    color: rgb(112, 108, 108);
}

.cv-info {
    margin: 20px 0;
    color: #555;
}

.show-content {
    margin-left: 10px;
}
