.container-addCV {
    margin: 10px !important;
}
.title {
    text-align: center;
    font-weight: bold;
}
.approve {
    padding: 20px;
}

.input-id {
    margin-bottom: 10px;
    width: 100%;
}

.button-submit {
    margin-top: 20px !important;
}

.button-approve {
    background-color: #3e74be !important;
}

.button-approve:hover {
    background-color: #2b3c53 !important;
}
